.header {
  background-color: #1e90ff;
  padding: 40px;
  display: flex;
  align-items: center;


  .header_h1 {
  font-size: 40px;
  padding-left: 3cqh;
  color: aliceblue;
  cursor: pointer;
  }

  .icon {
    font-size: 30px;
    color: aliceblue;
  }
}